.containerDoFormulario {
    display: flex;
    align-items: center;
    gap: 50px;
}

.formulario {
    background-color: #2980b9;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
}

/* 
    Remove setas de acréscimo e decréscimo;
    Incluir "inner" e "outer" garante compatibilidade com 
    navegadores mais antigos;
    Fonte: Stackoverflow;
*/
::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}

.formularioInput, .resultadoInput {
    max-width: 180px;
    width: 100%;
    padding: 6px;
    border-radius: 8px;
    border: 2px solid black;
}

.formularioLabel {
    padding: 6px;
}

.containerDoResultado {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.resultadoInput:disabled {
    background-color: white;
    opacity: 1;
    text-align: center;
}

.botaoCalcular {
    background-color: #0099ff;
    max-width: 180px;
    width: 100%;
    padding: 10px;
    border: 2px solid black;
    border-radius: 16px;
    font-weight: bold;
    font-size: 16px;
    color: white;
}

.botaoCalcular:hover {
    cursor: pointer;
    background-color: #0084db;
}

.classificacao {
    text-align: center;
}

.classificacao p {
    color: white;
    font-size: large;
}